body {
    display: block;
    margin: 0;
    padding: 0;
}

*{
    font-family: "Space Grotesk", sans-serif;
}

h1{
    margin-left: 10px;
}

h2{
    margin-left: 10px;
}

p{
    margin-left: 10px;
}

.highlight_hyperlink {
    background-color: blue;
    padding: 2px 4px;
    text-decoration: none;
    color: white;
}

.highlight_normalText {
    background-color: yellow;
    padding: 2px 4px;
    width: fit-content;
    /* display: block; */
    text-decoration: none;
    color: black;
}

.highlight_hyperlink:hover {
    background-color: greenyellow;
    color: red;
    filter:blur(1px);
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.background {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}
  

.image-container {
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 35%;
  }
  
  .tree-image {
    width: 500px;
    height: 900px;
    object-fit: center;
}
  
  .overlay-grid {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px); 
    grid-auto-rows: 150px;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    padding: 5px;
    text-align: center;
  }

  .overlay-text{
    position:relative;
    color: red;
    margin: -80px 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: none;
  }

  .overlay-grid:hover .overlay-text {
    display: block;
  }

  .image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #eye {
    grid-column: 1;
    grid-row: 2;
  }
  #ear {
    grid-column: 3;
    grid-row: 3;
  }
  #mouth {
    grid-column: 2;
    grid-row: 5;
  }

  #bush1, #bush2, #bush3 {
    position: fixed;
    bottom: 0;
    right: 0;
    display: grid;
    z-index: 1;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px;
    width: 200px;
    height: 120px;
  }
  
  #bush1 {
    z-index: 2;
    right: 280px;
    height: 90px;
  }
  
  #bush2 {
    z-index: 1;
    right: 100px;
    width: 250px;
    height: 70px;
  }
  
  #bush3 {
    z-index: 3;
  }